@{
    ViewBag.Title = "About";
}

<div id="AboutWrapper">
    <div class="left-sidebar">
        <h2>Sections</h2>
    </div>

    <div class="main-content">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
    </div>

    <div class="clear"></div>
</div>
