@model _9th.Sacred.WebApp.Models.LoginModel
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Sacred System</h1>
    <p class="lead">Sacred System, blah blah blah, something, something. So say we all.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <h2>Register</h2>
        <p>
            Sign-up for an account today.
        </p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Register</a></p>
    </div>
    <div class="col-md-3">
        <h2>Login</h2>
        <div>
            @using (Html.BeginForm(new { ReturnUrl = Request.QueryString["ReturnUrl"] }))
            {
                @Html.AntiForgeryToken()
                <p>@Html.TextBoxFor(m => m.UserName, new { @id = "UserTextBox", @placeholder = "Username", @autocomplete = "on" })</p>
                <p>@Html.PasswordFor(m => m.Password, new { @id = DateTime.Now.Ticks, @placeholder = "Password", @autocomplete = "off" })</p>
                <p><input type="submit" class="btn btn-primary" value="Login" /></p>
                <p>@Html.ValidationSummary(true)</p>
            }
        </div>
    </div>
</div>