@model _9th.Sacred.WebApp.Models.LoginRegisterModel
@{
    ViewBag.Title = "Home";

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
}

<div class="sacred-jumbotron upwards-ho">
    <h2>Sacred RPG System</h2>
    <hr class="sacred-jumbotron-header-hr" />
    <p>Welcome to the Sacred pen and paper role-playing game. Blah blibbity blah...</p>
</div>

<div class="register-wrapper">
    <h2>Register</h2>
    <hr class="header-hr" />
    <form id="homeRegisterForm">
        <div>
            <input type="email" name="reg_email" placeholder="Email" aria-label="Email" aria-required="true" required />
            <div class="form-error-icon" data-placement="left" title="Please enter a valid email.">!</div>
        </div>

        <div>
            <input type="text" name="reg_sir" placeholder="Username" aria-label="Username" aria-required="true" data-rule-required="true" />
            <div class="form-error-icon">!</div>
        </div>

        <div>
            <input type="password" id="reg_0_passwd" data-type="text" name="reg_passwd" placeholder="Password" value="" aria-label="Password" aria-required="true" data-rule-required="true" />
            <div class="form-error-icon">!</div>
        </div>

        <div>
            <input type="password" name="reg_confirm_passwd" placeholder="Confirm Password" aria-label="Confirm Password" aria-required="true" data-rule-required="true" />
            <div class="form-error-icon">!</div>
        </div>

        <button type="submit">Register</button>
    </form>
</div>

@section scripts {
<script type="text/javascript">
    $("#homeRegisterForm").validate();

    $(".form-error-icon").tooltip();
</script>
}