@model _9th.Sacred.Objects.Data.InputUser
@{
    ViewBag.Title = "Home";
}

<div class="sacred-jumbotron upwards-ho">
    <h2>Sacred RPG System</h2>
    <hr class="sacred-jumbotron-header-hr" />
    <p>Welcome to the Sacred pen and paper role-playing game. Blah blibbity blah...</p>
</div>

<div class="register-wrapper">
    <h2>Register</h2>
    <hr class="header-hr" />

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "homeRegisterForm" }))
    {
        @Html.AntiForgeryToken();

        <input type="hidden" id="reg_hidden_email" name="Email" />
        <input type="hidden" id="reg_hidden_username" name="Username" />
        <input type="hidden" id="reg_hidden_password" name="Password" />
        <input type="hidden" id="reg_hidden_confirm_password" name="ConfirmPassword" />

        <div>
            <input type="email" id="reg_email" name="reg_email" placeholder="Email" aria-label="Email" aria-required="true" required />
            <div class="form-error-icon" data-placement="left" data-toggle="tooltip" title="Please enter a valid email.">!</div>
        </div>

        <div>
            <input type="text" id="reg_username" name="reg_username" placeholder="Username" aria-label="Username" aria-required="true" required />
            <div class="form-error-icon" data-placement="left" data-toggle="tooltip" title="Please enter a username.">!</div>
        </div>

        <div>
            <input type="password" id="reg_password" name="reg_password" data-type="text" placeholder="Password" value="" aria-label="Password" aria-required="true" required />
            <div id="reg_password_error" class="form-error-icon" data-placement="left" data-toggle="tooltip" title="Password must be at least 8 characters in length.">!</div>
        </div>

        <div>
            <input type="password" id="reg_confirm_password" name="reg_confirm_passwd" placeholder="Confirm Password" aria-label="Confirm Password" aria-required="true" required />
            <div id="reg_confirm_password_error" class="form-error-icon" data-placement="left" data-toggle="tooltip" title="Passwords must match.">!</div>
        </div>

        if (Model.Errors != null)
        {
            <div class="alert alert-danger js-home-register-alert" role="alert">
                @if (Model.Errors.Count > 1)
                {
                    <ul>
                        @foreach (string error in Model.Errors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                }
                else
                {
                    @Html.Raw(Model.Errors[0]);
                }
            </div>
        }

        <button type="submit" id="reg_submit">Register</button>
    }
</div>

@section scripts {
    <script type="text/javascript">
        var registrationCompleteUrl = '@Url.Action("RegistrationComplete", "Account", new { Email = "__Email__" })';
    </script>
    <script type="text/javascript" src="~/Scripts/Sacred/LoginScripts.js"></script>
}