/* VARIABLES */
$pagecolor: #f0f0f0;
$primarycolor: #3a3d46;
$secondarycolor: #e3e5e9;

/* JUMBOTRON */
.sacred-jumbotron {
    margin: 0 auto;
    width: auto;
    border-radius: 5px;
    background-color: #566475;
    /*background-color: #169da2;*/
    padding: 22px;
    color: #d3d7da;
    box-shadow: 0 0 4px #2d3949;
}

.sacred-jumbotron h1, .sacred-jumbotron h2, .sacred-jumbotron h4,
.sacred-jumbotron h5, .sacred-jumbotron h6 {
    text-transform: uppercase;
}

.sacred-jumbotron h2 {
    font-weight: 500;
    font-size: 42px;
}

.sacred-jumbotron-header-hr {
    width: 102px;
    height: 4px;
    background-color: #d3d7da;
    border: none;
    margin: 10px 0;
}

.sacred-jumbotron p {
    margin: 18px 0;
    font-weight: 400;
}


/* CARDS */
.sacred-card {
    background: $secondarycolor;
    padding: 22px;
    margin: 22px 0 0;
    box-shadow: 0 0 4px $primarycolor;
    position: relative;
}

.sacred-card h2.card-title {
    margin: 0 0 12px;
    padding: 0;
}

.sacred-card-large p {
    margin: 4px 0;
}


/* ALERTS */
.alert-danger {
    background: #ecd0d0;
}