@import "variables";


/* JUMBOTRON */
.sacred-jumbotron {
    margin: 0 auto;
    width: auto;
    background-color: $primarycolor;
    padding: 22px;
    color: $textcolorlight;
    box-shadow: 0 0 4px #2d3949;
}

.sacred-jumbotron h1, .sacred-jumbotron h2, .sacred-jumbotron h4,
.sacred-jumbotron h5, .sacred-jumbotron h6 {
    text-transform: uppercase;
}

.sacred-jumbotron h2 {
    font-weight: 500;
    font-size: 42px;
}

.sacred-jumbotron-header-hr {
    width: 102px;
    height: 4px;
    background-color: $textcolorlight;
    border: none;
    margin: 10px 0;
}

.sacred-jumbotron p {
    margin: 18px 0;
    font-weight: 400;
}


/* CARDS */
.sacred-card {
    background: $primarycolor;
    padding: 22px;
    margin: 22px 0 0;
    box-shadow: 0 0 2px #000000;
    position: relative;
}

.sacred-card h2.card-title {
    margin: 0 0 12px;
    padding: 0;
    color: $textcolorlight;
}

.sacred-card-large p {
    margin: 4px 0;
}


/* CARD SIDEBAR */
.sacred-card-sidebar {
    float: left;
    width: 25%;
    background: #ffffff;
    box-shadow: 0 0 2px $primarycolor;
    margin-right: 12px;
}

.sacred-card-sidebar-filler {
    background: #fff;
    box-shadow: 0 0 2px $primarycolor;
    width: auto;
    overflow: auto;
    padding: 12px 22px;
}

.sacred-card-sidebar-filler h1,
.sacred-card-sidebar-filler h2,
.sacred-card-sidebar-filler h3,
.sacred-card-sidebar-filler h4,
.sacred-card-sidebar-filler h5,
.sacred-card-sidebar-filler h6 {
    color: $primarycolor;
}


/* CONTAINERS */
.sacred-2-column-container {
    margin: 22px 0;
}

.sacred-2-column-container:after {
    clear: both;
}


/* ALERTS */
.alert-danger {
    background: #ecd0d0;
}