/* JUMBOTRON */
.sacred-jumbotron {
    margin: 0 auto;
    width: auto;
    border-radius: 5px;
    background-color: #566475;
    padding: 22px;
    color: #d3d7da;
    box-shadow: 0 0 4px #2d3949;
}

.sacred-jumbotron h1, .sacred-jumbotron h2, .sacred-jumbotron h4,
.sacred-jumbotron h5, .sacred-jumbotron h6 {
    text-transform: uppercase;
}

.sacred-jumbotron h2 {
    font-weight: 500;
    font-size: 42px;
}

.sacred-jumbotron-header-hr {
    width: 102px;
    height: 4px;
    background-color: #d3d7da;
    border: none;
    margin: 10px 0;
}

.sacred-jumbotron p {
    margin: 16px 0;
    font-weight: 300;
}