/* VARIABLES */

$primarycolor: #607d8b;
$primarycolorlight: #cfd8dc;
$primarycolordark: #455a64;

$accentcolor: #80deea;
$accentcolorlight: #b2ebf2;
$accentcolordark: #26c6da;

$textcolorfulllight: rgba(255, 255, 255, 1);
$textcolorfulldark: rgba(0, 0, 0, 1);

$textcolorlight: rgba(255, 255, 255, 0.87);
$textcolordark: rgba(0, 0, 0, 0.87);

$secondarytextcolorlight: rgba(255, 255, 255, 0.54);
$secondarytextcolordark: rgba(0, 0, 0, 0.54);

$hinttextcolorlight: rgba(255, 255, 255, 0.26);
$hinttextcolordark: rgba(0, 0, 0, 0.26);

/* END VARIABLES */