html {
    height: 100%;
}

body {
    padding-bottom: 50px;
    height: 100%;
}

header {
    margin: 0;
    padding: 0;
    height: 52px;
    min-height: 52px;
    background-color: #27282d;
}

footer {
    height: 50px;
}

footer hr {
    margin: 0 0 8px;
}




/* GENERAL */
.clear {
    clear: both;
}




/* HEADER */
.nav-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.nav-wrapper > h1 {
    margin: 0;
    padding: 0;
}

header a {
    color: #fff;
}

header a:hover, header a:active {
    color: #72ddea;
}

.nav-login {
    float: right;
    margin: 4px 0 0;
    font-size: 12px;
}

.nav-login label {
    display: block;
    margin: 0;
    padding: 0;
    color: #b3b3b3;
}

.nav-login form > div {
    float: left;
    margin-left: 12px;
}




/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/* Forms */
.validation-summary-errors ul {list-style:none; margin-left:-35px;}