html {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
}

footer {
    height: 50px;
}

footer hr {
    margin: 0 0 8px;
}


/* GENERAL */
.clear {
    clear: both;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/* Forms */
.validation-summary-errors ul {list-style:none; margin-left:-35px;}