@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registration Complete";
}

<div class="sacred-card">
    <h2 class="card-title">Registration Complete</h2>

    <p>
        Thank you for signing up and joining us at Sacred System. You are one step away from enjoying all that Sacred System has to offer you. An email has been sent to you at <strong>@Model</strong>. Please verify your email by clicking on the link that was sent to you. Once you have verified your account you will be able to login to Sacred System and start having some fun!
    </p>
</div>