@model _9th.Sacred.Objects.Data.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Account Verified";
}

<div class="sacred-card">
    <h2 class="card-title">Welcome To Sacred @Model.Username,</h2>

    <p>
        Your account has been verified and you can now login to the Sacred System. Thank you again for joining us and we hope you enjoy your adventures while using our system.
    </p>
</div>
