@model _9th.Sacred.WebApp.Models.CharacterCreateModel

<div class="sacred-card create-section-header">
    <h2 class="card-title">Heroic Awakening</h2>
    <button class="sacred-button-regular create-title-button js-heroic-next-button">Skills <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
