@import "../variables";


/* GENERAL */
.flavor-text {
    font-style: italic;
    font-size: 13px;
    margin-top: -10px;
}

.char-power-box {
    background: $primarycolorlight;
    border-radius: 0;
    margin: 12px 0;
    padding: 4px 12px;
}

.char-power-box h5 {
    color: $primarycolordark;
    font-weight: bold;
    margin-bottom: 0;
}

.char-power-box p {
    margin: 0;
}

.char-power-box p.power-description {
    margin: 12px 0 8px;
}

.char-create-picker-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
}

.char-create-picker-wrapper li a {
    display: inline-block;
    width: 100%;
    background-color: $accentcolor;
    margin: 0 0 1px;
    padding: 10px 12px;
    color: $secondarytextcolordark;
    font-weight: bold;
    font-size: 16px;
}

.char-create-picker-wrapper li:last-child a {
    margin-bottom: 0;
}




/* RACE SECTION */
.race-holder > h2 {
    margin: 0 0 12px;
    padding: 0;
}

.race-demographics {
    margin: 32px 0;
}

.race-demographics p {
    margin: 0;
    padding: 0;
}

.race-demographics p span {
    font-weight: bold;
}

.char-create-picker-wrapper li a:hover,
.char-create-picker-wrapper li a:active,
.char-create-picker-wrapper li a.race-selected,
.char-create-picker-wrapper li a.class-selected {
    background-color: $accentcolordark;
    text-decoration: none;
    color: $textcolorlight;
}




/* HEADER */
.create-section-header h2.card-title {
    margin: 0;
    padding: 0;
}

.create-title-button {
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -14px;
}

.sacred-button-regular {
    height: 28px;
    padding: 0 8px;
}




/* POWER SECTION */
.char-powers-list h4 {
    margin: 42px 0 0;
    border-bottom: 1px solid $primarycolor;
}




/* SPECIALIZATION SECTION */
.specialization-box {
    margin: 22px 0 8px;
    font-size: 13px;
}
.specialization-box > h6 {
    font-weight: bold;
    color: $primarycolordark;
    font-size: 13px;
    margin: 0 0 4px;
}
.specialization-box > p {
    display: inline-block;
    background-color: $primarycolor;
    width: 100%;
    padding: 12px 12px;
    margin: 2px 0;
    color: $textcolorlight;
}