@import "../variables";


$primarycolorlighthover: #b0bec5;


/* PROFILE HEADER */
.profile-header {
    position: relative;
    color: $textcolorlight;
}

.profile-image {
    border: 5px solid $primarycolorlight;
    border-radius: 4px;
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 12px;
}

.profile-header > h2 {
    line-height: 120px;
    vertical-align: bottom;
}

.new-button {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 4px 6px 4px 8px;
    background-color: $accentcolor;
    border: none;
    color: $secondarytextcolordark;
    font-size: 16px;
}

.new-button:hover, .new-button:active {
    background-color: $accentcolordark;
}


/* CAMPAIGN LIST */
.campaign-list {
    margin-top: 22px;
}

.campaign-list div {
    position: relative;
}

.campaign-list a.campaign-link {
    background-color: $primarycolorlight;
    display: inline-block;
    width: 100%;
    border: none;
    color: $textcolordark;
    text-align: left;
    padding: 8px 12px;
    margin-bottom: 1px;
}

.campaign-list a.campaign-link:hover,
.campaign-list a.campaign-link:active {
    text-decoration: none;
    background-color: $primarycolorlighthover;
}

.campaign-remove {
    position: absolute;
    top: 6px;
    bottom: 7px;
    right: 6px;
    width: 24px;
    border: none;
    background-color: $accentcolor;
    color: $secondarytextcolordark;
}

.campaign-remove:hover,
.campaign-remove:active {
    background-color: $accentcolordark;
}

.campaign-remove span {
    top: 2px;
    left: -1px;
}