@{
    ViewBag.Title = "Admin";
}
@section Content {
    <link href="~/Content/Admin/Admin.css" type="text/css" rel="stylesheet" />
}

<div ng-app="AdminApp" ng-controller="AdminController as admins">
    <h2>Admin Panel</h2>

    <div class="btn-group admin-panel-nav">
        <button ng-click="admins.selectTab(1)" type="button" class="btn btn-default" ng-class="{active: admins.isSelected(1)}">Races</button>
        <button ng-click="admins.selectTab(2)" type="button" class="btn btn-default" ng-class="{active: admins.isSelected(2)}">Classes</button>
        <button ng-click="admins.selectTab(3)" type="button" class="btn btn-default" ng-class="{active: admins.isSelected(3)}">Powers</button>
    </div>

    <div ng-controller="AdminRaceController" ng-cloak ng-show="admins.isSelected(1)">
        @Html.Partial("_Races")
    </div>

    <div ng-controller="AdminClassController" ng-cloak ng-show="admins.isSelected(2)">
        @Html.Partial("_Classes")
    </div>

    <div @*ng-controller="AdminPowersController"*@ ng-cloak ng-show="admins.isSelected(3)">
        <h3>Powers</h3>
    </div>

</div>