@{
    ViewBag.Title = "Character Create Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Character Create Start</h2>

<p>Creating a character in the Sacred System is as easy as following 4 steps.</p>
<ol>
    <li>Background</li>
    <li>Class</li>
    <li>Heroic Spirit</li>
    <li>Starting Level & Talos</li>
</ol>

<a href="#">Get Started</a>